.Navigation {
  width: 100%;
  display: flex;
  margin: auto;
  font-size: 18px;
  right: 0;
  height: 100%;
}

.Button {
  font-size: 20px;
  height: 40px;
  color: #a1a1a1;
}

.Button:hover {
  color: white;
}

.NavInSite {
  width: 80%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.ProfileDiv {
  width: 20%;
  height: 100%;
  display: grid;
}

.LoginDiv {
  display: block;
  margin-top: auto;
}

.SignUpText {
  color: white;
  font-size: 11px;
  padding: 5px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .Navigation {
    display: flex;
    flex-direction: column;
    color: black;
  }

  .Button {
    font-size: 24px;
    height: 40px;
    color: black;
  }

  .NavInSite {
    align-items: baseline;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
  }

  .ProfileDiv {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .LoginDiv {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .SignUpText {
    color: black;
  }

  .Dropdown {
    display: none;
  }
}