.ReservationsTable {
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px;
  margin: auto;
  margin-top: 100px;
}